/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* css variables */

:root {
  /* colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  /* typography */
  --main-font: "Inter", sans-serif;
}

/* base */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  /* height: 100vh; */
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

li {
  list-style-type: none;
}

/* reusable css */

.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 2rem;
}

/* header */

header {
  width: 100%;
  height: 10%;
  padding-block: 2rem 1rem;
  background-color: transparent;
  /* background-color: red; */
  /* border: 1px solid black; */
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: grid;
  place-items: center;
}

.nav__logo img {
  max-width: 40px;
  max-height: 40px;
}

.nav__toggle {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  /* background-color: red; */
  height: 100%;
}

.menu__item {
  padding: 0.5rem;
}

.menu__item a {
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.3s;
}

.menu__item:hover a {
  color: var(--soft-red);
}

/* upper section */
.upper__section .container {
  display: flex;
  gap: 2rem;
  width: 100%;
}

/* left section */

.section__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: red; */
}

.left__img {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left__img picture img {
  max-width: 100%;
  height: auto;
}

.left__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.left__content__heading,
.left__content__subcontent {
  width: 50%;
}

.left__content__heading h2 {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-weight: 800;
}

.left__content__subcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: red; */
  height: 100%;
  padding-right: 1rem;
}

.left__content__subcontent p {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.left__content__subcontent button {
  font-size: 0.65rem;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  color: var(--off-white);
  background-color: var(--soft-red);
  letter-spacing: 3px;
  font-weight: 600;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.left__content__subcontent button:hover {
  background-color: hsl(5, 82%, 56%);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.2);
}

/* right section */

.section__right {
  background-color: var(--very-dark-blue);
  padding: 1.5rem;
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right__heading {
  font-size: 2rem;
  color: var(--soft-orange);
}

.right__display {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1.5rem;
  height: 100%;
}

.display__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.display__item h4 {
  color: var(--off-white);
  transition: all 0.3s;
}

.display__item h4:hover {
  color: var(--soft-orange);
}

.display__item p {
  color: var(--grayish-blue);
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.line {
  width: 100%;
  height: 0.05rem;
  background-color: var(--dark-grayish-blue);
}

/* .................................................... */

/* bottom section */

.bottom__section {
  /* height: 20%; */
  /* border: 1px solid black; */
  width: 100%;
  padding-block: 3rem;
}

.bottom__list {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.bottom__list__item {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  /* background-color: red; */
}

.bottom__img img {
  max-width: 80px;
}

.bottom__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bottom__content h4 {
  transition: all 0.3s;
}

.bottom__content h4:hover {
  color: var(--soft-red);
}

.bottom__content p:first-child {
  font-size: 1.5rem;
  color: var(--grayish-blue);
  font-weight: 700;
}

.bottom__content p:last-child {
  font-size: 0.75rem;
}

/* .................................................... */

/* responsiveness for medium size devices */
@media screen and (max-width: 768px) {
  .upper__section .container {
    display: flex;
    flex-direction: column;
  }

  .section__left {
    gap: 1rem;
  }

  .bottom__list {
    flex-wrap: wrap;
  }

  .bottom__list__item {
    width: 100%;
  }

  .bottom__img img {
    max-width: 100px;
  }

  .bottom__content h4 {
    font-size: 1.25rem;
  }

  .bottom__content p:last-child {
    max-width: 90%;
  }
}

@media screen and (max-width: 620px) {
  .nav__menu {
    column-gap: 0.75rem;
  }

  .menu__item a {
    font-size: 0.75rem;
  }

  .left__content__heading h2 {
    font-size: 2.25rem;
  }

  .left__content__subcontent p {
    font-size: 0.65rem;
  }
}

/* responsiveness for smaller size devices */

@media screen and (max-width: 520px) {
  .container {
    padding-inline: 0.75rem;
  }
  .nav__toggle {
    display: block;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.3s;
  }

  .nav__toggle:hover {
    color: var(--soft-red);
  }

  .icon {
    font-size: 1.5rem;
  }

  .nav__menu {
    background-color: var(--off-white);
    position: fixed;
    width: 75%;
    top: 0rem;
    right: -100%;
    padding: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transition: opacity 0.3s, right 0.3s ease-out;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .nav__menu .nav__toggle {
    align-self: flex-end;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .menu__item a {
    font-size: 0.85rem;
  }

  .left__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  .left__content__heading,
  .left__content__subcontent {
    width: 100%;
  }

  .left__content__heading h2 {
    font-size: 2rem;
  }
}

/* show - hide nav___menu */

.show__menu {
  opacity: 1;
  right: 0;
  pointer-events: initial;
  transition: opacity 0.3s, right 0.3s ease-in;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

@media screen and (max-width: 360px) {
  .bottom__img img {
    max-width: 80px;
  }

  .bottom__content p:first-child {
    font-size: 1rem;
  }

  .bottom__content h4 {
    font-size: 1rem;
  }

  .bottom__content p:last-child {
    max-width: 100%;
  }
}
